<%-include ("partials/head.ejs")%>
<%- include ("partials/header.ejs")%>

<div class="main-wrapper">
    <div class="container">
      <section class="info-hotel-general">
        <div class="info-hotel-general-txt mt-5">
          <div class="hotel-info-container">
              <div class="info-hotel-name mr-3">
                  <h2>Sunset Beach Hotel</h2>
                  <span>Miami Beach, Florida, USA</span>
              </div>
    
              <div class="vl mx-3"></div>
    
              <div class="info-hotel-adress mr-3">
                  <span>Address</span>
                  <h5>456 Ocean Avenue <br> Miami Beach, FL 33139 USA</h5>
              </div>
    
              <div class="info-hotel-rating">
                  <span>⭐ 5,0  (1 mil)</span>
              </div>
          </div>
        </div>
    
        <div class="hotel-gallery mt-3">
          <div class="item gallery-img1"><img src="https://images.unsplash.com/photo-1455587734955-081b22074882?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWx8ZW58MHx8MHx8fDA%3D"></div>
          <div class="item gallery-img2"><img src="https://images.unsplash.com/photo-1455587734955-081b22074882?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWx8ZW58MHx8MHx8fDA%3D"></div>
          <div class="item gallery-img3"><img src="https://images.unsplash.com/photo-1455587734955-081b22074882?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWx8ZW58MHx8MHx8fDA%3D"></div>
          <div class="item gallery-img4"><img src="https://images.unsplash.com/photo-1455587734955-081b22074882?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG90ZWx8ZW58MHx8MHx8fDA%3D"></div>
        </div>
      </section>
    
      <section class="hotel-description">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="description">
                        <h3>Descrição do Hotel</h3>
                        <p class="mt-4">Descubra o Oceanfront Paradise Hotel em Miami Beach, onde luxo à beira-mar e comodidades modernas se encontram.</p>
                        <p class="mt-4">Desfrute de vistas deslumbrantes do oceano, acomodações elegantes e acesso conveniente às atrações de South Beach.</p>
                    </div>
                    <div class="amenities mt-5">
                        <h3>Comodidades do Hotel</h3>
                        <ul class="list-unstyled row mt-4">
                          <div class="col-md-7">
                            <li class="d-flex align-items-center mb-3"><i class="fas fa-wifi"></i> Wi-fi</li>
                            <li class="d-flex align-items-center mb-3"><i class="fas fa-parking"></i> Estacionamento</li>
                            <li class="d-flex align-items-center mb-3"><i class="fas fa-snowflake"></i> Ar-condicionado</li>
                          </div>
                          <div class="col-md-5">
                            <li class="d-flex align-items-center mb-3"><i class="fas fa-tshirt"></i> Secador</li>
                            <li class="d-flex align-items-center mb-3"><i class="fas fa-tv"></i> TV Smart</li>
                            <li class="d-flex align-items-center mb-3"><i class="fas fa-cocktail"></i> Varanda</li>
                          </div>
                        </ul>
                        <button class="btn btn-outline-dark btn-amenities">Mostrar todas as comodidades</button>
                    </div>
                </div>
  
                <div class="col-md-6">
                  <div class="booking-box p-5">
                    <div class="d-flex align-items-center">
                      <div>
                        <i class="fa-solid fa-spa"></i>
                        <div class="hotel-name mt-2">
                          <h5>Sunset Beach Hotel</h5>
                        </div>
                      </div>
                      <div class="hotel-price ms-auto mt-4">
                        <p>R$ 500 diária</p>
                      </div>
                    </div>
                    
                    <div class="check-in-out mt-4">
                      <form action="" method="post" class="reserve-form">
                        <div class="section-checkIn d-flex align-items-center justify-content-center flex-wrap">
                          <div class="input-group-form">
                            <span><img src="/imgs/icon/location.svg" alt="location icon"/></span>
                            <div class="col-auto">
                              <label id="checkin">Check-in</label>
                            </div>
                            <div class="col-auto">
                              <input type="time" id="checkIn" class="time-input form-control" placeholder="14:00" />
                            </div>
                          </div>
                          <div class="vl2 mx-3"></div>
                          <div class="input-group-form">
                            <span><img src="/imgs/icon/location.svg" alt="location icon" /></span>
                            <div class="col-auto">
                              <label id="checkout">Check-out</label>
                            </div>
                            <div class="col-auto">
                              <input type="time" id="checkOut" class="time-input form-control" placeholder="14:00" />
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="section-date-check">
                          <div class="input-group-form">
                            <span><img src="/imgs/icon/location.svg" alt="location icon" /></span>                 
                              <input type="date" id="dateIn" class="date-input form-control"/>
                              &rarr;
                              <input type="date" id="dateOut" class="date-input form-control"/>
                          </div>
                        </div>
                        <hr>
                        <div class="section-room-check">
                          <div class="input-group-form">
                            <span><img src="/imgs/icon/location.svg" alt="location icon" /></span>
                            <div>
                              <label id="guests">Quartos&Hóspedes</label>                 
                              <input type="text" id="guestRoom" class="text-input form-control" placeholder="1 quarto, 2 adultos"/>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-reserve">Reservar</button>
                      </form>
                    </div>
                    
                    <div class="pricing mt-3">
                      <div class="price-hotel-night d-flex align-items-center">
                        <div class=""><p id="price-night">R$ 500 x 3 noites</p></div>
                        <div class="ms-auto">
                          <span id="price-night-noTax">R$ 1500</span>
                        </div>
                      </div>
                      <hr>
                      <div class="price-hotel-all d-flex align-items-center">
                        <div>
                          <p id="price-tax"><strong>Valor total sem impostos</strong></p>
                        </div>
                        <div class="ms-auto">
                          <span class="float-right" id="price-include">R$ 1500</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </section>
      <hr>
      <section class="hotel-rating">
              
      </section>
  
  
    </div>
  </div>
       

<%-include ("partials/footer.ejs")%>
<%-include ("partials/foot.ejs")%>