<!-- Botões para abrir os modais -->
<div class="container mt-5">
  <button
    type="button"
    class="btn btn-primary mr-2"
    data-toggle="modal"
    data-target="#loginModal"
  >
    <i class="fas fa-sign-in-alt"></i> Login
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    data-toggle="modal"
    data-target="#signupModal"
  >
    <i class="fas fa-user-plus"></i> Cadastro
  </button>
</div>

<!-- Modal de Login -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-left"></div>
      <div class="modal-right">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-header flex-column">
          <p class="modal-subtitle">Bem-vindo de volta ao Sight Inn</p>
          <h2 class="modal-title text-start" id="loginModalLabel">
            Que bom te ver novamente!
          </h2>
          <p class="modal-subtitle">
            Por favor, entre com seu e-mail e senha.
          </p>
        </div>
        <div class="modal-body">
          <form id="loginForm">
            <div class="form-group">
              <label for="loginEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="loginEmail"
                placeholder="Digite seu email"
              />
            </div>
            <div class="form-group">
              <label for="loginPassword">Senha</label>
              <input
                type="password"
                class="form-control"
                id="loginPassword"
                placeholder="Digite sua senha"
              />
            </div>
            <div class="mx-auto d-grid col-x">
              <button
                type="submit"
                class="btn btn-lg btn-primary btn-block"
                id="loginButton"
              >
                Entrar
              </button>
            </div>
          </form>
          <hr />
          <div class="d-flex">
            <button class="btn btn-social btn-outline-black">
              <span><i class="fa-brands fa-google"></i> Google</span>
            </button>
            <button class="btn btn-social btn-outline-black">
              <span><i class="fa-brands fa-facebook"></i></span>
              <span class="ps-1">Facebook</span>
            </button>
            <button class="btn btn-social btn-outline-black">
              <span><i class="fa-brands fa-apple"></i> Apple</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Cadastro -->
<div
  class="modal fade align-content-center"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-left"></div>
      <div class="modal-right">
        <div class="d-flex justify-content-between align-items-center">
          <img src="imgs/image-logo.svg" alt="" width="50%" />
          <a
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <img src="/imgs/icon/close-black.svg" alt="" />
          </a>
        </div>

        <div class="modal-header flex-column">
          <p class="modal-subtitle">Seja bem-vindo ao Sight Inn</p>
          <h2 class="modal-title text-start" id="signupModalLabel">
            Estamos felizes em vê-lo por aqui!
          </h2>
          <p class="modal-subtitle">
            Para fazer o login use o seu e-mail ou entre por outras plataformas.
          </p>
        </div>
        <div class="modal-body">
          <form id="emailForm">
            <div class="form-group">
              <label for="signupEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="signupEmail"
                placeholder="Digite seu email"
              />
            </div>
            <div class="mx-auto d-grid col-x">
              <button
                type="button"
                class="btn btn-lg btn-primary btn-block"
                id="continueButton"
              >
                Continuar
              </button>
            </div>
          </form>
          <form id="passwordForm" class="hidden">
            <div class="form-group">
              <label for="signupPassword">Senha</label>
              <input
                type="password"
                class="form-control"
                id="signupPassword"
                placeholder="Digite sua senha"
              />
            </div>
            <div class="mx-auto d-grid col-x">
              <button
                type="submit"
                class="btn btn-lg btn-primary btn-block"
                id="continueButton"
              >
                Cadastro
              </button>
            </div>
          </form>
          <hr />
          <div class="d-flex">
            <button class="btn btn-social btn-outline-black">
              <span><i class="fa-brands fa-google"></i> Google</span>
            </button>
            <button class="btn btn-social btn-outline-black">
              <span><i class="fa-brands fa-facebook"></i></span>
              <span class="ps-1">Facebook</span>
            </button>
            <button class="btn btn-social btn-outline-black">
              <span><i class="fa-brands fa-apple"></i> Apple</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
