<header>
  <nav class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand text-white" href="#">Sight-inn</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav ml-auto d-flex align-items-center nav-links">
                <li class="nav-item d-flex align-items-center">
                    <span><img src="/imgs/icon/favorites.svg" alt="Favoritos" class="nav-icon"></span>
                    <a class="nav-link text-white" href="/favoritos">Favoritos</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span><img src="/imgs/icon/recently.svg" alt="Vistos Recentemente" class="nav-icon"></span>
                    <a class="nav-link text-white" href="/recentes">Vistos Recentemente</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <span><img src="/imgs/icon/map.svg" alt="Mapa" class="nav-icon"></span>
                    <a class="nav-link text-white" href="/mapa">Mapa</a>
                </li>
            </ul>
        </div>

        <div class="language-currency d-flex align-items-center">
            <span><img src="/imgs/icon/global.svg" alt="Global" class="nav-icon"></span>
            <input type="text" id="language-currency" value="PT · R$" readonly class="form-control-plaintext text-white ml-2">
        </div>
    </div>
</nav>
</header>
