/* Styling Navs */

.nav-links {
    list-style: none;
    gap: 2.5rem;
}

.nav-links a {
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
}

.nav-links li span img {
    width: 20px;
    height: 20px;
}

.language-currency {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 0.6rem;
}

.language-currency img {
    width: 1.563rem;
    height: 1.563rem;
}

.language-currency input {
    width: 3.438rem;
    border: none;
    background: none;
    color: #fff;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
}

.language-currency input:focus {
    outline: none;
    box-shadow: none;
}

/* Active link indicator */
.nav-link.active {
    color: #E7CA2F;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #E7CA2F;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

/* Styling Search Bar */

/* .booking-input {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.section-container {
    max-width: 75rem;
    margin: auto;
    padding: 3.5rem 10rem;
    color: #fff;
}

.section-container p {
    color: #fff;
}

.search-bar {
    background: #fff;
    width: 92%;
    margin: 1.875rem auto;
    padding: 0.813rem 0.938rem;
    border-radius: 0.813rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.search-bar form button {
    background-image: linear-gradient(to bottom right, #E0BF00, #ECD456);
    width: 3.438rem;
    height: 3.438rem;
    border-radius: 15%;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar form button i {
    font-size: 1.5rem;
    color: white;
}

.search-bar form button img {
    width: 1.875rem;
    height: 1.875rem;
}

.booking-form {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.input-group-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.input-group-form span img {
    width: 1.563rem;
    height: 1.563rem;
}

.input-group-form label {
    display: block;
    font-size: 0.813rem;
    font-weight: 600;
}

.input-group-form input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.875rem;
    padding: 0;
}

.text-input {
    width: 9.375rem;
}

.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}

.filter-bar {
    padding: 1.688rem 0;
}

.input-group-form-dropdown {
    font-size: 14px;
    color: #fff;
    padding-inline: 5px;
}

.input-group-form-dropdown label {
    padding: 5px 20px;
}

hr {
    border-top: 2px solid #ffffff;
}

.input-group-filter {
    background: #fff;
    width: 13.75rem;
    height: 50px;
    gap: 0.4rem;
    padding-inline: 10px;
    border-radius: 3.125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.input-group-filter input {
    color: #838383;
    width: 10.313rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 0.625rem;
}

.input-group-filter span img {
    width: 1.125rem;
    height: 1.125rem;
}

.remove-filters-btn {
    font-weight: 500;
    color: #fff;
    background: #E7CC34;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    gap: 1rem;
    outline: none;
    cursor: pointer;
}

.remove-filters-btn:hover {
    background: #ECD456;
}

.filter-bar button img {
    width: 0.938rem;
    height: 0.938rem;
}

/* Styling Hotel Card */

.hotel-card {
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    position: relative;
}

.hotel-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.hotel-info {
    padding: 15px;
}

.hotel-info h2 {
    margin: 0;
    font-size: 20px;
}

.hotel-info p {
    margin: 5px 0;
}

.dropdown-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 25%;
    margin-left: 80px;
    text-align: right;
}

.dropdown-content {
    display: none;
    min-width: 100%;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hotel-card.expanded {
    height: auto;
}

.hotel-card.expanded .dropdown-content {
    display: block;
}

.row.dropdown-content {
    padding: 20px;
}


.row.dropdown-content h2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.row.dropdown-content {
    padding: 20px;
}

.row.dropdown-content h2 {
    color: var(--cor-primaria);
    margin-bottom: 15px;
}

.amenities-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amenities-list li {
    display: flex;
    align-items: center;
}

.amenities-list li i {
    color: #27ae60;
    margin-right: 10px;
}

.amenities-list li:hover {
    color: #838383;
    cursor: pointer;
}

.amenities-list li:hover i {
    color: #2ecc71;
}

/* Stylying Input */

/* Estilo para a classe de botões */
.filter-buttons button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo para o botão ativo */
.filter-buttons .active {
    background-color: #f1c40f; /* Cor de fundo amarela para o botão ativo */
    color: #fff; /* Cor do texto branco para o botão ativo */
}

/* Estilo para o botão inativo */
.filter-buttons button:not(.active) {
    background-color: #f8f9fa; /* Cor de fundo cinza claro para o botão inativo */
    color: #6c757d; /* Cor do texto cinza escuro para o botão inativo */
}

/* Adiciona um contorno arredondado aos botões */
.filter-buttons button {
    border-radius: 5px;
}

#price-filter-container {
    width: 500px;
    padding: 25px;
    border: 1px solid var(--cor-terciaria);
    border-radius: 10px;
    display: none; /* Inicialmente escondido */
    position: absolute; /* Permite o posicionamento absoluto */
    z-index: 1000; /* Garante que o dropdown esteja acima de outros elementos */
    background-color: #fff; /* Fundo branco */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175); /* Sombra */
}

.price-input-container {
    width: 100%;
}

.price-input .price-field {
    display: flex;
    margin-bottom: 22px;
}

.price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 17px;
}

.price-field input {
    height: 35px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    border-radius: 9px;
    text-align: center;
    border: 0px;
}

.price-input {
    width: 100%;
    font-size: 19px;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider-container {
    width: 100%;
}

.slider-container {
    width: 85%;
    height: 6px;
    position: absolute;
    left: 8%;
    background: #e4e4e4;
    border-radius: 5px;
    top: 48.5%
}

.slider-container .price-slider {
    height: 100%;
    left: 25%;
    right: 15%;
    position: absolute;
    border-radius: 5px;
    background: var(--cor-primaria);
}

.range-input {
    position: relative;
}

.price-field input {
  display: block;
  height: 3.4rem;
  width: 100%;
  padding: 0.5rem 0 0 0;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid var(--cor-primaria);
  &::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover,
  &:focus,
  &:active:focus {
    color: var(--cor-de-link);
    outline: none;
    border-bottom: 1px solid var(--cor-terciaria);
    &::placeholder {
      color: var(--cor-terciaria);
      position: relative;
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    top: -5px;
    pointer-events: none;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 70%;
    background: var(--cor-primaria);
    pointer-events: auto;
    -webkit-appearance: none;
}

/* Estilo para a classe de dropdown */
.input-group-filter {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

/* Mostra o dropdown quando a classe 'open' é adicionada */
.input-group-filter.open .dropdown-menu {
    display: block;
}



@media screen and (max-width: 768px) {
    .main {
        width: 80%;
        margin-right: 5px;
    }

    .custom-wrapper {
        width: 100%;
        left: 0;
        padding: 0 10px;
    }

    .projtitle {
        width: 100%;
        position: relative;
        right: 26px;
    }

    .price-input {
        flex-direction: column;
        align-items: center;
    }

    .price-field {
        margin-bottom: 10px;
    }
}

.btn-primary {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    &:hover {
      color: var(--cor-primaria);
      background-color: var(--cor-secundaria);
      border-color: #d8bf30;
    }
    &:focus {
      box-shadow:unset 0 3px 5px rgb(231, 204, 52);
    }
    &:active {
      color: var(--cor-secundaria) !important;
      background-color: var(--cor-primaria) !important;
      border-color: #d8bf30 !important;
    }
  }