/* Styling Navs */

.nav-links {
    list-style: none;
    gap: 2.5rem;
}

.nav-links a {
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
}

.nav-links li span img {
    width: 20px;
    height: 20px;
}

.language-currency {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 0.6rem;
}

.language-currency img {
    width: 1.563rem;
    height: 1.563rem;
}

.language-currency input {
    width: 3.438rem;
    border: none;
    background: none;
    color: #fff;
    font-size: 1rem;
    appearance: none; 
    cursor: pointer;
}

.language-currency input:focus {
    outline: none;
    box-shadow: none;
}

/* Active link indicator */
.nav-link.active {
    color: #E7CA2F;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #E7CA2F;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after, .nav-link.active::after {
    width: 100%;
}

/* Styling Search Bar */

/* .booking-input {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

.section-container {
    max-width: 75rem;
    margin: auto;
    padding: 3.5rem 10rem;
    color: #fff;
}

.section-container p {
    color: #fff;
}

.search-bar {
    background: #fff;
    width: 92%;
    margin: 1.875rem auto;
    padding: 0.813rem 0.938rem;
    border-radius: 0.813rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.search-bar form button {
    background-image: linear-gradient(to bottom right, #E0BF00, #ECD456);
    width: 3.438rem;
    height: 3.438rem;
    border-radius: 15%;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar form button i {
    font-size: 1.5rem;
    color: white;
}

.search-bar form button img{
    width: 1.875rem;
    height: 1.875rem;
}

.booking-form {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.input-group-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.input-group-form span img {
    width: 1.563rem;
    height: 1.563rem;
}

.input-group-form label {
    display: block;
    font-size: 0.813rem;
    font-weight: 600;
}

.input-group-form input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.875rem;
    padding: 0;
}

.text-input {
    width: 9.375rem;
}

.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}

.filter-bar {
    padding: 1.688rem 0;
}

.input-group-form-dropdown {
    font-size: 14px;
    color: #fff;
    padding-inline: 5px;
}

.input-group-form-dropdown label{
    padding: 5px 20px;
}

hr {
    border-top: 2px solid #ffffff;
}

.input-group-filter {
    background: #fff;
    width: 13.75rem;
    height: 50px;
    gap: 0.4rem;
    padding-inline: 10px;
    border-radius: 3.125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.input-group-filter input {
    color: #838383;
    width: 10.313rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 0.625rem;
}

.input-group-filter span img {
    width: 1.125rem;
    height: 1.125rem;
}

.remove-filters-btn {
    font-weight: 500;
    color: #fff;
    background: #E7CC34;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    gap: 1rem;
    outline: none;
    cursor: pointer;
}

.remove-filters-btn:hover {
    background: #ECD456;
}

.filter-bar button img{
    width: 0.938rem;
    height: 0.938rem;
}

/* Styling Hotel Card */

.hotel-card {
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  position: relative;
}

.hotel-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.hotel-info {
  padding: 15px;
}

.hotel-info h2 {
  margin: 0;
  font-size: 20px;
}

.hotel-info p {
  margin: 5px 0;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-left: 80px;
  text-align: right;
}

.dropdown-content {
  display: none;
  min-width: 100%;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hotel-card.expanded {
    height: auto;
  }
  
  .hotel-card.expanded .dropdown-content {
    display: block;
  }

.row.dropdown-content {
    padding: 20px;
}


.row.dropdown-content h2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.row.dropdown-content {
    padding: 20px;
}

.row.dropdown-content h2 {
    color:  var(--cor-primaria);
    margin-bottom: 15px;
}

.amenities-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.amenities-list li {
    display: flex;
    align-items: center;
}

.amenities-list li i {
    color: #27ae60;
    margin-right: 10px;
}

.amenities-list li:hover {
    color: #838383;
    cursor: pointer;
}

.amenities-list li:hover i {
    color: #2ecc71;
}

/* Stylying Input */

#price-filter-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 20px auto;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-buttons button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.filter-buttons button.active {
    background-color: #ffd700;
}

.slider-container {
    display: flex;
    align-items: center;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.price-values input {
    border: none;
    background: none;
    width: 60px;
    text-align: right;
}

#price-filter-apply {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffd700;
    cursor: pointer;
}
 
.slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--cor-primaria );
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 260px;
    height: 5px;
    top: -3px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--cor-primaria);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--cor-primaria);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,.005);
  }