@media (max-width: 576px) {
    .input-group-form {
        gap: 0.25rem;
    }

    .search-bar form button {
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px) {
    .input-group-form {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-group-form label,
    .input-group-form input {
        width: 100%;
    }

    .input-group-form span {
        margin-bottom: 0.5rem;
    }

    .search-bar form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar form button {
        width: 100%;
        margin-top: 1rem;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1400px) {
    section.home {
        height: 125vh;
    }
}


