<div class="search-bar container">
  <div class="container">
    <form action="" method="post" class="booking-form">
      <div class="input-group-form border-end">
        <span><img src="/imgs/icon/location.svg" alt="location icon" /></span>
        <div>
          <label class="mb-0" id="txtLocation">Where to?</label>
          <input
            type="text"
            id="destino"
            class="text-input"
            placeholder="Search Destinations"
          />
        </div>
      </div>
      <div class="input-group-form border-end">
        <span><img src="/imgs/icon/calendar.svg" alt="calendar icon" /></span>
        <div>
          <label class="mb-0" id="txtCheckin">Check in</label>
          <input type="date" id="checkIn" />
        </div>
      </div>
      <div class="input-group-form border-end">
        <span><img src="/imgs/icon/calendar.svg" alt="calendar icon" /></span>
        <div>
          <label class="mb-0" id="txtCheckout">Check out</label>
          <input type="date" id="checkOut" />
        </div>
      </div>
      <div class="input-group-form">
        <span><img src="/imgs/icon/rooms.svg" alt="rooms icon" /></span>
        <div>
          <label class="mb-0" id="txtRooms">Rooms & Guests</label>
          <input
            type="text"
            id="hospedes"
            class="text-input"
            placeholder="1 room, 2 guests"
          />
        </div>
      </div>
      <button type="submit" class="btn">
        <img src="/imgs/icon/magnifying-glass.svg" />
      </button>
    </form>
  </div>
</div>

<div class="filter-bar container">
  <div class="container-filter">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="form-group input-group-form-dropdown">
          <label for="priceRange" id="txtPrice">Price Range</label>
          <div class="input-group-filter d-flex align-items-center">
            <input
              type="text"
              class="form-control"
              id="priceRange"
              value="$ 2500 — $ 8500"
              readonly
            />
            <span class="dropdown-icon" id="price-dropdown-icon">
              <img src="/imgs/icon/dropdown.svg" alt="dropdown-icon" />
            </span>
            <div
              id="price-filter-container"
              class="dropdown-menu p-3"
              style="display: none"
            >
              <h3>Price Range</h3>
              <div class="filter-buttons mb-5 mt-3 row">
                <button id="daily" class="active col py-2">Night</button>
                <button id="total" class="col py-2">Total</button>
              </div>
              <div class="slider-container">
                <div class="price-slider"></div>
              </div>
              <div class="range-input">
                <input
                  type="range"
                  class="min-range"
                  min="0"
                  max="10000"
                  value="2500"
                  step="1"
                />
                <input
                  type="range"
                  class="max-range"
                  min="0"
                  max="10000"
                  value="8500"
                  step="1"
                />
              </div>
              <div class="price-input-container my-3 container">
                <div class="price-input d-flex">
                  <div class="price-field col">
                    <input
                      type="number"
                      placeholder="Price Min"
                      class="min-input"
                      value="2500"
                    />
                  </div>
                  <div class="price-field col">
                    <input
                      type="number"
                      placeholder="Price Max"
                      class="max-input"
                      value="8500"
                    />
                  </div>
                </div>
              </div>
              <div class="d-grid col-6 mx-auto">
                <button
                  id="price-filter-apply"
                  onclick=""
                  class="btn btn-warning"
                >
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group input-group-form-dropdown">
          <label for="rating" id="txtRating">Rating</label>
          <div class="input-group-filter d-flex align-items-center">
            <input
              type="text"
              class="form-control"
              id="rating"
              value="Rating"
              readonly
            />
            <span class="dropdown-icon"
              ><img src="/imgs/icon/dropdown.svg" alt="dropdown-icon"
            /></span>
          </div>
        </div>
        <div class="form-group input-group-form-dropdown">
          <label for="type" id="txtType">Type</label>
          <div class="input-group-filter d-flex align-items-center">
            <input
              type="text"
              class="form-control"
              id="type"
              value="Type"
              readonly
            />
            <span class="dropdown-icon"
              ><img src="/imgs/icon/dropdown.svg" alt="dropdown-icon"
            /></span>
          </div>
        </div>
        <div class="form-group input-group-form-dropdown">
          <label for="location" id="txtLocal">Location</label>
          <div class="input-group-filter d-flex align-items-center">
            <input
              type="text"
              class="form-control"
              id="location"
              value="Location"
              readonly
            />
            <span class="dropdown-icon"
              ><img src="/imgs/icon/dropdown.svg" alt="dropdown-icon"
            /></span>
          </div>
        </div>
        <div class="form-group input-group-form-dropdown align-self-end">
          <button
            class="btn remove-filters-btn d-flex justify-content-center align-items-center"
            id="removeFilters"
          >
            Remove Filters
            <span><img src="/imgs/icon/close.svg" /></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
