<div class="pagination">
    <span class="page-number rounded-circle active">1</span>
    <span class="page-number rounded-circle">2</span>
    <span class="page-number rounded-circle">3</span>
    <span class="page-number rounded-circle">4</span>
    <span class="page-number rounded-circle">...</span>
    <span class="page-number rounded-circle">7</span>
    <span class="next-page rounded-circle">&gt;</span>
</div>